@import url('./variables.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background: var(--bg-gray-50);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.main {
  margin-top: 40px;
}
