.addToFavorites {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  border-radius: 9999px;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.active svg {
  fill: red;
  path {
    stroke: red !important;
  }
}
